<ion-view view-title="session"  hide-nav-bar="true">
  <ion-content class="">
  <div class="heading-container ">
    <div class="row">
      <div class="col-75">
          <h2 class=""><img class="title-image" ng-src="img/logo2x.png" /></h2>
      </div>

      <div class="col-25" style="text-align: center">
        <h2>  <button class="button-light button-rounded" menu-toggle="left">
          <i class="ion-navicon"></i>
        </h2>
      </div>

    </div>
    <div class="row" style="margin-top: 50px">

      <div class="col" >
        <h1>Awards</h1>
      </div>
    </div>



    <img ng-src="img/bg-crescent.png" class="bottom-cover">

    <div class="overlay  cat-awa"></div>


  </div>



    <div class="list card">
      <div class="item">
        <h3>{{session.time}}</h3>
        <h2>My Biography</h2>
        <p>{{session.speaker}}</p>
      </div>
      <div class="item item-body">
        <p>In Nigeria’s House of Representative, Dakuku Peterside has earned a reputation as a charismatic and disciplined leader, creative and hardworking legislator who is broad minded with strategic insight. He brings integrity, compassion, pro-poor perspective and intellectual dimension to bear in tackling tough national issues. His loyalty to friendship and bridge building skills are remarkable.</p>
        <p>Hon Peterside is widely respected as an achiever and a strong voice for the House on national issues. He is a regular commentator in Nigeria’s leading media outfits.</p>
        <p>
            In his home state, Rivers he is respected as one of the most result oriented, meticulous, consistent, trustworthy and God fearing political leaders. In all public offices he has held he has brought innovation to bear and made remarkable impact that has endeared him to his fellow compatriots. He is a role model and mentor to several young persons, who look upto him for inspiration.
        </p>
      <p>

      </p>

      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a href="" class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" >
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Read More
        </a>
      </div>
    </div>  

  </ion-content>
</ion-view>
