<ion-view view-title="session"  hide-nav-bar="true">
  <ion-content class="">
  <div class="heading-container ">
    <div class="row">
      <div class="col-75">
          <h2 class=""><img class="title-image" ng-src="img/logo2x.png" /></h2>
      </div>

      <div class="col-25" style="text-align: center">
        <h2>  <button class="button-light button-rounded" menu-toggle="left">
          <i class="ion-navicon"></i>
        </h2>
      </div>

    </div>
    <div class="row" style="margin-top: 50px">

      <div class="col" >
        <h1>Awards</h1>
      </div>
    </div>



    <img ng-src="img/bg-crescent.png" class="bottom-cover">

    <div class="overlay  cat-awa"></div>


  </div>


<div class="row">
  <div class="col-10">
    <span class="rounded-opener">
      <i class="icon ion-university cat-awa"></i>
    </span>

  </div>
<div class="col-90">
  <h2>My Awards</h2>
  <p>A list of awards I have received over the years</p>
<ul class="award-list">

<li><img ng-src="img/trop.png">Crans Montana Gold Medal Awards <p>Awards at The National Assembly</p> </li>
<li> <img ng-src="img/trop.png">AFUSA Merit For Service <p>Association of Medical Laboratory in NIgeria</p> </li>
</ul>






</div>
</div>



  </ion-content>
</ion-view>
