<ion-view view-title="session"  hide-nav-bar="true">
  <ion-content class="">
  <div class="heading-container ">
    <div class="row">
      <div class="col-75">
          <h2 class=""><img class="title-image" ng-src="img/logo2x.png" /></h2>
      </div>

      <div class="col-25" style="text-align: center">
        <h2>  <button class="button-light button-rounded" menu-toggle="left">
          <i class="ion-navicon"></i>
        </h2>
      </div>

    </div>
    <div class="row" style="margin-top: 50px">

      <div class="col" >
        <h1>Biography</h1>
      </div>
    </div>




    <img ng-src="img/bg-crescent.png" class="bottom-cover">

    <div class="overlay cat-bio"></div>



  </div>


    <div class="list card">
      <div class="item">
        <h3>{{session.time}}</h3>
        <h2>My Biography</h2>
        <p>{{session.speaker}}</p>
      </div>
      <div class="item item-body">
        <p>In Nigeria’s House of Representative, Dakuku Peterside has earned a reputation as a charismatic and disciplined leader, creative and hardworking legislator who is broad minded with strategic insight. He brings integrity, compassion, pro-poor perspective and intellectual dimension to bear in tackling tough national issues. His loyalty to friendship and bridge building skills are remarkable.</p>
        <p>Hon Peterside is widely respected as an achiever and a strong voice for the House on national issues. He is a regular commentator in Nigeria’s leading media outfits.</p>
        <p>
            In his home state, Rivers he is respected as one of the most result oriented, meticulous, consistent, trustworthy and God fearing political leaders. In all public offices he has held he has brought innovation to bear and made remarkable impact that has endeared him to his fellow compatriots. He is a role model and mentor to several young persons, who look upto him for inspiration.
        </p>
      <p>
        He has at various times turned down at least fourteen chieftancy titles, several honourary doctorate degrees and awards rather believing in the people as a reason for service.
      </p>
      <p>
          Dakuku Peterside, Amaopusenibo of Opobo kingdom was elected to represent Andoni/Opobo-Nkoro area in the House of Representatives in 2011 on the platform of the Peoples Democratic Party (PDP).
      </p>  
      <p>
          In the House he serves as chairman of the strategic Petroleum Resources (Downstream) committee that oversees the management of the key driver of Nigeria’s economy (Petroleum Industry). Dakuku also serves in the House most important committees of Anti-corruption, National ethics and values; Drugs, Narcotics and Financial crimes; Co-operation and integration in Africa, Electoral matters; Industry; Communications and Works. <br>He is a well known champion of reform and strengthening of institutions as key to unlocking development potentials.
      </p>

      <p>
          Outside the chambers of House of Representatives he is an international Resource person on oil and gas matters and a leading leadership/management scholar and speaker. Dakuku speaks in conferences around the world. He is respected as an Authority in corporate political strategy and Business-Govt interaction in Nigeria.
      </p>  

      <p>
            Prior to being elected to the House of Representatives, Dakuku served twice as Rivers State Commissioner for works (2007-2011) where he anchored Governor Rotimi Amaechi’s phenomenal transformation of Roads and Infrastructural landscape of Rivers State; He concurrently served on the Board of Greater Port Harcourt Development Authority (GPHCDA)
      </p>  

        <p>
            Before serving as Rivers State Commissioner of works, he served as Executive Director of Development and Leadership Institute (DLI) between the year 2005 and 2007, Senior Special Assistant to Governor of Rivers State on Works (2003-2005) Chairman Opobo-Nkoro LGA (2002-2003). As LGA chairman he was declared the most outstanding chairman by the then State Governor of Rivers State. He previously served as Special Assistant to Rivers State Governor on Youth and Student affairs and concurrently as a member of Board, Centre for Black and African arts and civilisation (CBAAC), A Federal Government arts and research establishment.
        </p>

          <p>
              A native of Biriye, Opobo Kingdom. Dakuku attended Okrika Grammer School (OGS), University of Science and Technology, Port Harcourt, University of Port Harcourt, Georgia State University Atlanta and is also an alumnus of Harvard-Kennedy school, University of Harvard.
          </p>
          <p>
              He earned degrees in Medical Laboratory Sciences (Haematology), Business administration (Management) and certificates in leadership and Project management respectively. He has attended several oil and gas courses globally.
          </p>

          <p>
              The Honourable is a member of Nigeria Institute of Management (NIM), fellow of Institute of Management Consultants of Nigeria (IMCN) and member, Institute of Medical Laboratory Sciences of Nigeria.
          </p>
          <p>
              The Honourable is a member of Nigeria Institute of Management (NIM), fellow of Institute of Management Consultants of Nigeria (IMCN) and member, Institute of Medical Laboratory Sciences of Nigeria.
          </p>


      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a href="" class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" >
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Read More
        </a>
      </div>
    </div>    

  </ion-content>
</ion-view>
