<ion-view view-title="Error" Hide-nav-bar="true">
<ion-nav-title>
      <p><img class="title-image" ng-src="img/logo2x.png" /></p>
    </ion-nav-title>

  <ion-content class="" >
  <div class="heading-container error-page  ">

    <div class="row" style="margin-top: 50px">

      <div class="col" >
        <h1 style="color: teal" >Server Error</h1>
        <p>Please Check your Internet Connection</p>
      </div>
    </div>





    <img ng-src="img/bg-crescent.png" class="bottom-cover">
    <div class="overlay error-over"></div></div>
    

  

  </ion-content>
  <a class="button icon-left ion-home button-positive" style="position: absolute;
bottom: 50px;
left: 50%;
margin-left: -50px;" href="#/app/home">Return Home</a>

</ion-view>
