<ion-view view-title="Home" hide-nav-bar="true" >
  <ion-content scroll="false" class="front-menu" >

    <div class="row">
      <div class="col">
          
      <div class="center-img">
      <a href="#/app/biography" class="bio">
        <i class="icon ion-university"></i>
        Biography
      </a>

      <a class="awa" href="#/app/awards">
        <i class="icon ion-trophy"></i>
        Awards
      </a>

      <a class="mul" href="#/app/multimedia">
        <i class="icon ion-videocamera"></i>
        Multimedia
      </a>

      <a class="edu" href="#/app/education">
        <i class="icon ion-star"></i>
        Education
      </a>
      <!-- <button onclick="window.plugins.socialsharing.share('Message and image', null, 'https://www.google.nl/images/srpr/logo4w.png', null)">message and image</button> -->


      <a class="pol" href="#/app/political">
        <i class="icon ion-person-add"></i>
        Political <br> Affiliation
      </a>
      <a class="new" href="#/app/newsfeed">
        <i class="icon ion-clipboard"></i>
        Newsfeed
      </a>

      <a class="twi" onclick="window.plugins.socialsharing.shareViaTwitter('Find out about the Life and times of Dakuku Peterside', null /* img */, 'http://www.dakukupeterside.com')">
        <i class="icon ion-social-twitter"></i>
        Twitter
      </a>
      <a class="fac" onclick="window.plugins.socialsharing.shareViaFacebookWithPasteMessageHint('Find out about the Life and times of Dakuku Peterside', null /* img */, null /* url */, 'Paste Message to share app!', function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">
        <i class="icon ion-social-facebook"></i>
        Facebook
      </a>



    </div>
      </div>


  	


  	</div>
    <p>
    	<strong>Tap </strong>
      <!-- <button onclick="window.plugins.socialsharing.shareViaFacebookWithPasteMessageHint('Message via Facebook', null /* img */, null /* url */, 'Paste it dude!', function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">msg via Facebook (with errcallback)</button> -->
       any of the icons above to navigate <br>
to other sections of the App
    </p>
  </ion-content>
</ion-view>
