<ion-view view-title="Home" hide-nav-bar="true" >
  <ion-content class="front-menu" >

    <div class="row">
      <div class="col">
          
      <div class="center-img">
      <a href="#/app/biography" class="bio">
        <i class="icon ion-university"></i>
        Biography
      </a>

      <a class="awa" href="#/app/awards">
        <i class="icon ion-trophy"></i>
        Awards
      </a>

      <a class="mul" href="#/app/multimedia">
        <i class="icon ion-videocamera"></i>
        Multimedia
      </a>

      <a class="edu" href="#/app/education">
      <!-- <a class="edu" href="" ng-click="popover.show($event)"> -->
        <i class="icon ion-star"></i>
        Education
      </a>

      <a class="pol" href="#/app/political">
        <i class="icon ion-person-add"></i>
        Political <br> Affiliation
      </a>
      <a class="new" href="#/app/newsfeed">
        <i class="icon ion-clipboard"></i>
        Newsfeed
      </a>

      <!-- <a class="twi" onclick="window.plugins.socialsharing.shareViaTwitter('Find out about the Life and times of Dakuku Peterside', 'www/img/center-img.png' /* img */, 'http://www.dakukupeterside.com')">
        <i class="icon ion-social-twitter"></i>
        Twitter
      </a>
      <a class="fac" onclick="window.plugins.socialsharing.shareViaFacebook('Findout about the Life and Times of Dakuku Adol Peterside', 'www/img/center-img.png'/* img */, 'http://www.dakukupeterside.com' /* url */, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">
        <i class="icon ion-social-facebook"></i>
        Facebook
      </a> -->
    </div>
      </div>
      

  	


  	</div>
    <p>
    	<strong>Tap </strong>
    
       any of the icons above to navigate <br>
to other sections of the App
    </p>


    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view style="height: 70px; width: 200px; padding: 10px">
        <ion-content scroll="false">
          <a class="item" href="#/app/education" ng-click="popover.hide($event)">Education</a>
        </ion-content>
      </ion-popover-view>
    </script>


  </ion-content>
</ion-view>
