<ion-view view-title="Home" >
  <ion-content class="front-menu">

    <div class="row">
      <div class="col">
          
      <div class="center-img">
      <a href="#/app/biography" class="bio">
        <i class="icon ion-university"></i>
        Biography
      </a>

      <a class="awa" href="#/app/awards">
        <i class="icon ion-trophy"></i>
        Awards
      </a>

      <a class="mul" href="#/app/multimedia">
        <i class="icon ion-videocamera"></i>
        Multimedia
      </a>

      <a class="edu" href="#/app/edu">
        <i class="icon ion-star"></i>
        Education
      </a>
      
      <a class="pol" href="#/app/political">
        <i class="icon ion-person-add"></i>
        Political <br> Affiliation
      </a>
      <a class="new" href="#/app/newsfeed">
        <i class="icon ion-clipboard"></i>
        Newsfeed
      </a>

      <a class="twi" href="#/app/twitter">
        <i class="icon ion-social-twitter"></i>
        Twitter
      </a>
      <a class="fac" href="#/app/facebook">
        <i class="icon ion-social-facebook"></i>
        Facebook
      </a>

    </div>
      </div>


  	


  	</div>
    <p>
    	<strong>Tap </strong>
      <button onclick="window.plugins.socialsharing.share('Message only')">message only</button>
    	 any of the icons above to navigate <br>
to other sections of the App
    </p>
  </ion-content>
</ion-view>
