<ion-view view-title="Multimedia" class="has-header gallery-bg" >



<ion-content class="padding" style="inset 0px 0 80px black;">
<div class="row">
  <div class="col padding gallery-thumb">
    <a href="#/app/multimedia/personal" >
      <img src="img/personal.png">
    </a>
    <p>Personal Pictures</p>
  </div>
  <div class="col padding gallery-thumb">
    <a href="#/app/multimedia/sendforth" >
      <img src="img/sendforth.png">
    </a>
    <p>Schorlarship Sendforth</p>

  </div>
  <div class="col padding gallery-thumb">
    <a href="#/app/multimedia/cransmontana" >
      <img src="img/crans.png">
    </a>

    <p>CransMontana Forum</p>


  </div>


  <div class="col padding gallery-thumb">
   <!--  <a href="#/app/multimedia/personal" >
      <img src="img/personal.png">
    </a>
    <p>Bonny Visit</p> -->
    
  </div>


</div>


</ion-content>
<p style="position: absolute;
bottom: 20px;
color: #fff;
text-align: center;
width: 250px;
left: 50%;
margin-left: -120px;">
  <strong>Tap </strong>
the Category thumbnail above <br>to view gallery of images 
</p>



</ion-view>
