<ion-view view-title="session"  hide-nav-bar="true">

<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button class="button button-icon ion-navicon button-right" menu-toggle="left"></button>
  </div>
  <h1 class="title">Things</h1>
</ion-header-bar>

  <ion-content class="" header-shrink scroll-event-interval="5">
 <!--  <div class="heading-container" style="height: 150px; border-bottom: 10px solid #ccc; overflow: hidden">
    <div class="row">
      <div class="col-75">
          <h2 class=""><img class="title-image" ng-src="img/logo2x.png" /></h2>
      </div>

      <div class="col-25" style="text-align: center">
        <h2>  <button class="button-light button-rounded" menu-toggle="left">
          <i class="ion-navicon"></i>
        </h2>
      </div>

    </div>
    <div class="row" style="margin-top: 50px">

      <div class="col" >
        <h1>NewsfeedPost</h1>
      </div>
    </div>
    <div class="overlay cat-bio"></div>


  </div> -->

<h2>{{post.title}}</h2>


  </ion-content>
</ion-view>
