<ion-view view-title="session"  hide-nav-bar="true">
  <ion-content class="">
  <div class="heading-container ">
    <div class="row">
      <div class="col-75">
          <h2 class=""><img class="title-image" ng-src="img/logo2x.png" /></h2>
      </div>

      <div class="col-25" style="text-align: center">
        <h2>  <button class="button-light button-rounded" menu-toggle="left">
          <i class="ion-navicon"></i>
        </h2>
      </div>

    </div>
    <div class="row" style="margin-top: 50px">

      <div class="col" >
        <h1>Political <br>Affiliation</h1>

        <div class="header-summary">
        <p>Dakuku has been a member of Peoples Democratic Party (PDP) from 1998 to 2013. He was among 37 PDP Members of House of Representatives who defected to All Progressives Congress (APC) on Wednesday December 18, 2013...
      </p>
      
      <a href="#" onclick="window.plugins.socialsharing.shareViaTwitter('Dakuku has been a member of Peoples Democratic Party (PDP) from 1998 to 2013. He was among 37 PDP Members of House of Representatives who defected to All Progressives Congress (APC) on Wednesday December 18, 2013...', 'www/img/center-img.png' /* img */, 'http://www.dakukupeterside.com')"><span></span> <i class="ion-social-twitter-outline"></i></a> 
      <a href="#"  onclick="window.plugins.socialsharing.shareViaFacebook('Dakuku has been a member of Peoples Democratic Party (PDP) from 1998 to 2013. He was among 37 PDP Members of House of Representatives who defected to All Progressives Congress (APC) on Wednesday December 18, 2013...', 'www/img/center-img.png'/* img */, 'http://www.dakukupeterside.com' /* url */, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})"><span></span> <i class="ion-social-facebook-outline"></i></a>

      

        </div> 
      </div>

    </div>



    <img ng-src="img/bg-crescent.png" class="bottom-cover">

    <div class="overlay cat-pol"></div>


  </div>





<div class="row">
  <div class="col-10">
    <span class="rounded-opener">
      <i class="icon  ion-person-add cat-pol"></i>
    </span>

  </div>
<div class="col-90">
  <h2>Political Affiliations</h2>
<p>Dakuku has been a member of Peoples Democratic Party (PDP) from 1998 to 2013. He was among 37 PDP Members of House of Representatives who defected to All Progressives Congress (APC) on Wednesday December 18, 2013. Honourable Dakuku is now a member of the All Progressives Congress (APC) on the platform he intends to continue his political pursuits.
        </p>

        <h3>
            Political Career
        </h3>

        <p>
          Dr. Dakuku Peterside is a former students union activist in his university days. He was elected National President of National Union of Rivers State Students (NURSS) in 1992. He has always had passion for Politics and Public Service. 
He was between 1996 and 1998 the Rivers State Financial Secretary of defunct Democratic Party of Nigeria (DPN).
He was appointed Special Assistant to the Governor of Rivers State in August 1999, served as Chairman of Opobo/Nkoro Local Government Area from 2002 to 2003. Re-appointed by Rivers State Government as Senior Special Assistant to the Governor on Works in 2003 and served in that portfolio till 2005. He was appointed Rivers State Commissioner of Works in November 2007 and served in the office till January 2011. Dakuku was elected a member of house of Representatives for Andoni-Opobo-Nkoro Federal Constituency in June 2011 on the platform of Peoples Democratic Party (PDP) but has since defected to All Progressives Congress (APC).
  
        </p>  


        <h3>
            House of Representatives
        </h3>
        <p>Dakuku was elected to the Nigerian House of Representatives in Abuja in 2011, winning the elections held on April 9, 2011 with 46, 850 votes against his closest rival Mrs. Grace Bellgam of defunct Action Congress of Nigeria (CAN) who polled 6, 269 votes. He was formally inaugurated on June 6, 2011 amongst 359 other members of the House of Representatives.
Dakuku was appointed Chairman of the House Committee on Petroleum Resources (Downstream) and member of Committees on Works, Industry, Communications, Electoral Matters, Anti-Corruption, National Ethics and Values; Co-operation, Integration and NEPAD; and Drugs, Narcotics and Financial Crimes.
Dakuku is reputed to have contributed more newspaper articles on social issues than any other legislator in the Seventh National Assembly of Nigeria. He has so far sponsored five bills and several motions.
</p>


<div class="share-module">

      <hr>
      <span>SHARE THIS</span>
      <a href="#" onclick="window.plugins.socialsharing.shareViaTwitter('Dakuku has been a member of Peoples Democratic Party (PDP) from 1998 to 2013. He was among 37 PDP Members of House of Representatives who defected to All Progressives Congress (APC) on Wednesday December 18, 2013...', 'www/img/center-img.png' /* img */, 'http://www.dakukupeterside.com')"><span></span> <i class="ion-social-twitter-outline"></i></a> 
      <a href="#"  onclick="window.plugins.socialsharing.shareViaFacebook('Dakuku has been a member of Peoples Democratic Party (PDP) from 1998 to 2013. He was among 37 PDP Members of House of Representatives who defected to All Progressives Congress (APC) on Wednesday December 18, 2013...', 'www/img/center-img.png'/* img */, 'http://www.dakukupeterside.com' /* url */, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})"><span></span> <i class="ion-social-facebook-outline"></i></a>
      
      <hr>
        

</div>





</div>
</div>



  </ion-content>
</ion-view>
