<ion-view view-title="session"  hide-nav-bar="true">
  <ion-content class="">
  <div class="heading-container ">
    <div class="row">
      <div class="col-75">
          <h2 class=""><img class="title-image" ng-src="img/logo2x.png" /></h2>
      </div>

      <div class="col-25" style="text-align: center">
        <h2>  <button class="button-light button-rounded" menu-toggle="left">
          <i class="ion-navicon"></i>
        </h2>
      </div>

    </div>
    <div class="row" style="margin-top: 50px">

      <div class="col" >
        <h1>Political <br>Affiliation</h1>
      </div>
    </div>



    <img ng-src="img/bg-crescent.png" class="bottom-cover">

    <div class="overlay cat-bio"></div>


  </div>




    <div class="list card">
      <div class="item">
        <h3>{{session.time}}</h3>
        <h2>POLITICAL AFFILIATION</h2>
        <p>{{session.speaker}}</p>
      </div>
      <div class="item item-body">
        <p>Dakuku has been a member of Peoples Democratic Party (PDP) from 1998 to 2013. He was among 37 PDP Members of House of Representatives who defected to All Progressives Congress (APC) on Wednesday December 18, 2013. Honourable Dakuku is now a member of the All Progressives Congress (APC) on the platform he intends to continue his political pursuits.
        </p>
      <h3>
          House of Representatives
        </h3>  
      <p>
              Dakuku was elected to the Nigerian House of Representatives in Abuja in 2011, winning the elections held on April 9, 2011 with 46, 850 votes against his closest rival Mrs. Grace Bellgam of defunct Action Congress of Nigeria (CAN) who polled 6, 269 votes. He was formally inaugurated on June 6, 2011 amongst 359 other members of the House of Representatives.
      </p>
      <p>
        Dakuku was appointed Chairman of the House Committee on Petroleum Resources (Downstream) and member of Committees on Works, Industry, Communications, Electoral Matters, Anti-Corruption, National Ethics and Values; Co-operation, Integration and NEPAD; and Drugs, Narcotics and Financial Crimes.
<p>
        Dakuku is reputed to have contributed more newspaper articles on social issues than any other legislator in the Seventh National Assembly of Nigeria. He has so far sponsored five bills and several motions.
</p>



      </p>

      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a href="" class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" >
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Read More
        </a>
      </div>
    </div>  
  </ion-content>
</ion-view>
