<ion-view view-title="session"  hide-nav-bar="true">
  <ion-content class="">
  <div class="heading-container">
    <div class="row">
    

      <div class="col-75">
          <h2 class=""><img class="title-image" src="/img/logo2x.png" /></h2>

        <h1>BIOGRAPHY</h1>
      </div>

      <div class="col-25" style="text-align: center">
        <h1>  <button class="button-light button-rounded" menu-toggle="left">
          <i class="ion-navicon"></i>
        </h1>
      </div>
            
    </div>

    <img src="/img/bg-crescent.png" class="bottom-cover">

    <div class="overlay"></div>


  </div>



  </ion-content>
</ion-view>
